.aboutme {
    background-image: url($imagepath + "aboutme_person.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #f2f2f1;
    
    @media (-webkit-min-device-pixel-ratio: $RetinaPxlRatio), (min-resolution: $RetinaMinDPI) {
        background-image: url($imagepath + "aboutme_person_retina.jpg");
    }
    
    @media screen and (max-width: $bkpTablet) {
        background-image: none;      
    }
    
    &__person {
        visibility: hidden;
        
        @media screen and (max-width: $bkpTablet) {
            visibility: visible;
            right: 0px;
            display: inline-block;
            vertical-align: text-top;     
        }
        
        @media screen and (max-width: $bkpMobile) {
            height: 100px;
        }
    }
    

   
    &__id {
        color: $darkgray;
        font-size: 30px;
        text-transform: $text-transform;
        font-family: $headingFont;
        font-weight: 700;
    }
    
    &__content {
        background-color: #f2f2f1;
        padding-left: 120px;
        padding-top: 100px;
        padding-bottom: 100px;
        color: $medgrey; 
        font-size: 18px;
        
        
        @media screen and (max-width: $bkpTablet) {
            font-size: 16px;
            padding-left: 0px;
            padding-top: 100px;
            padding-bottom: 30px;
        }
        
        @media screen and (max-width: $bkpMobile) {
            font-size: 14px;
            padding-top: 50px;
            padding-bottom: 30px;
        }
    }
        
    &__description {
        padding-top: 50px;
        
        @media screen and (max-width: $bkpMobile) {
            padding-top: 20px;
            padding-bottom: 15px;
        }
    }
	
    p {
        padding-bottom: 50px;
            
        @media screen and (max-width: $bkpMobile) {
            padding-bottom: 15px;
            padding-top: 20px;
        }       
    }
    
    &__web {
        padding-left: 70px;
        background-position: left top;
        background-repeat: no-repeat;
        padding-bottom: 50px;
        background-image: url($imagepath + "aboutme_icon1.png");
        
        @media (-webkit-min-device-pixel-ratio: $RetinaPxlRatio), (min-resolution: $RetinaMinDPI) {
            background-image: url($imagepath + "aboutme_icon1_retina.png");
            background-size: 56px 45px;
        }
        
        @media screen and (max-width: $bkpTablet) {
            padding-bottom: 20px;
        } 
        
        @media screen and (max-width: $bkpMobile) {
            padding-bottom: 15px;
         }  
        
    }    
    
    &__graphic {
        @extend .aboutme__web;
        background-image: url($imagepath + "aboutme_icon2.png");
        
        
        @media (-webkit-min-device-pixel-ratio: $RetinaPxlRatio), (min-resolution: $RetinaMinDPI) {
            background-image: url($imagepath + "aboutme_icon2_retina.png");
        }
        
    }
    
    &__online {
        @extend .aboutme__web;
        background-image: url($imagepath + "aboutme_icon3.png");
                       
        @media (-webkit-min-device-pixel-ratio: $RetinaPxlRatio), (min-resolution: $RetinaMinDPI) {
            background-image: url($imagepath + "aboutme_icon3_retina.png");
        }
    }
    
    &__seo {
        @extend .aboutme__web;
        background-image: url($imagepath + "aboutme_icon4.png");
        
        
        @media (-webkit-min-device-pixel-ratio: $RetinaPxlRatio), (min-resolution: $RetinaMinDPI) {
            background-image: url($imagepath + "aboutme_icon4_retina.png");
        }
    }
    
    &__inside {
        font-size: 22px;
        text-transform: $text-transform;
        color: $darkgray;
        font-weight: 700;
        padding-bottom: 30px;
        
        @media screen and (max-width: $bkpMobile) {
            padding-bottom: 15px;
        }
    }
}
