.education {
   
	.container {
        padding-top: 100px;
        padding-bottom: 100px; 

	}
	
    &__inside {
        font-size: 22px;
        text-transform: $text-transform;
        color: #566366;
        font-weight: 700;
        padding-bottom: 20px;
    }
        
    &__title {
        @extend .values__h2;
        padding-bottom: 50px;
    }
    
    &__description1 {
//        padding-bottom: 20px;  
        color: $medgrey;
        
        strong {
            font-weight: 700;
        }
    }
    
    &__description2 {
//        @extend resume__description;
        margin-top: 35px;
        padding-top: 28px;
        border-top: solid 2px lightgrey;
        padding-bottom: 80px;
    }

	section + section {
		margin-top: 50px;
	}
	
	& + .education {
//		padding-top: 50px; 
		.container {
			border-top: 1px solid #ccc;
		}
	}
    
    &__right {
        
        @media screen and (max-width: $bkpTablet) {
            padding-top: 50px;
        }
    }
}

.label-primary {
    background-color: $brandcolor;
    padding: 6px 9px;
    border-radius: 0;
    display: inline-block;
    margin: 20px 0 0px;
}

