.portfolio  {
    padding-bottom: 100px;
    
    @media screen and (max-width: $bkpMobile) {
             padding-bottom: 30px; 
        }
    
    
    h2 {
        @extend .values__h2;
        padding-top: 100px;
        padding-bottom: 50px;
        text-align: center;
        
        @media screen and (max-width: $bkpMobile) {
          padding-top: 50px; 
      }
    }
    
    &__description {
        @extent resume__description;
        padding-top: 50px; 
    }
    
    &__row {
        padding-bottom: 25px;
            
    }
    
    &__thumbs {
        margin-top: 50px;
        text-align: center;
    }
    
    .img-responsive {
        display: block;
    }
        
    &__box {
        position: relative;
        cursor: pointer;
        display: inline-block;
    }
    
    &__box:hover::after {   
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top:0;
        right: 0;
        bottom: 0;
        background: rgba($brandcolor,0.5) url($imagepath + '/porfolio_lupka.png') no-repeat center;
    }
    
}