.portfolio  {
    padding-bottom: 100px;
    
    
    h2 {
        @extend .values__h2;
        padding-top: 100px;
        padding-bottom: 50px;
        text-align: center;
    }
    
    &__description {
        @extent resume__description;
        padding-top: 50px; 
    }
    
    &__row {
        padding-bottom: 25px;
    }
    
    &__thumbs {
        margin-top: 50px;
        text-align: center;
    }
    
    .img-responsive {
        display: inline-block;
        
    }
}
