.portfolio  {
    padding-bottom: 100px;
    
    @media screen and (max-width: $bkpMobile) {
             padding-bottom: 30px; 
        }
    
    
    h2 {
        @extend .values__h2;
        padding-top: 100px;
        padding-bottom: 50px;
        text-align: center;
        
        @media screen and (max-width: $bkpMobile) {
          padding-top: 50px; 
      }
    }
    
    &__description {
        @extent resume__description;
        padding-top: 50px; 
    }
    
    &__row {
        padding-bottom: 25px;
            
    }
    
    &__thumbs {
        margin-top: 50px;
        text-align: center;
    }
    
    .img-responsive {
        display: inline-block;
    }
        
    .img-responsive:hover {   
       
	   -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        cursor: pointer;
//        -webkit-filter: sepia(1);
//  filter: sepia(1);
         background: url('../img/porfolio_lupka.png');
        background-position: center; 
        opacity: 0.7;
        z-index: 100;
    }
    
//    .img-magnifier {
//        background: url('../img/porfolio_lupka.png');
//        background-position: center; 
//        opacity: 0.3;
//       
    

}


//
//.portfolio figure {
//	background: #1abc9c;
//}
//.portfolio figure img {
//	opacity: 1;
//	-webkit-transition: .3s ease-in-out;
//	transition: .3s ease-in-out;
//}
//.portfolio figure:hover img {
//	opacity: .5;
//}