.resume {
    
    background-color: #f2f2f1;
    
    

    &__title {
        @extend .values__h2;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 50px;
        
      @media screen and (max-width: $bkpMobile) {
          padding-top: 50px;  
      } 
    }

    &__button {
        border-radius: 0;
        text-transform: $text-transform;
        color: $brandcolor;
        border-color: $brandcolor;
        font-weight: 700;
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: #f2f2f1;    
        padding: 0px;
    }
    
    &__a {
        display: inline-block;
        padding: 20px 18px;
        color: $brandcolor;
        text-decoration: none;
    }
    
    &__a:visited {
        color: $brandcolor;
        text-decoration: none;
    }
    
    &__a:hover {
        text-decoration: none;
        color: black;
    }   
    &__a:active {
        text-decoration: none;
        color: black;
    }
    
    &__description {
        font-family: $headingFont;
        font-weight: 400;
        font-size: 18px;
        color: $medgrey;
        padding-bottom: 50px;
        text-align: center;
        
        @media screen and (max-width: $bkpTablet) {
            padding-bottom: 80px;
        } 
        
    }
    
    &::after {
        background: url(../img/resume_dziubek.png);
        display: block;
        position: absolute;  
        width: 58px;
        height: 20px;
        content: "";
        left: 50%; 
		transform: translateX(-50%);
    }
}