$brandcolor: #2ecc71;
$medgrey: #919191;
$darkgray: #566366;
$lightgray: #f2f2f1;

$headingFont: 'Roboto', Arial, serif;
$textFont: 'Open Sans', Arial, serif;
$text-transform: uppercase;

$bkpTablet: 992px;
$bkpMobile: 768px;
$RetinaPxlRatio: 2;
$RetinaMinDPI: 192dpi;

$imagepath: "../img/";

$bar-photoshop: 90%;
$bar-illustrator: 80%;
$bar-html: 90%;
$bar-php: 70%;