$brandcolor: #2ecc71;
$medgrey: #919191;

$headingFont: 'Roboto', Arial, serif;
$textFont: 'Open Sans', Arial, serif;

$bkpTablet: 992px;
$bkpMobile: 768px;
$RetinaPxlRatio: 2;
$RetinaMinDPI: 192dpi;

@import 'reset';

body {
    background-color: white;
    font-family: $headingFont;
    line-height: 150%;
}

.header {
    background-image: url(../img/header.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: white;
    
    @media (-webkit-min-device-pixel-ratio: $RetinaPxlRatio), (min-resolution: $RetinaMinDPI) {
        background-image: url(../img/header_retina.jpg);
    }
    
    &__title {
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        font-size: 60px;
        padding: 20px 0;  
        margin-top: 40vh;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
        font-family: $headingFont;
        overflow: hidden;
        line-height: 100%;
                
        @media screen and (max-width: $bkpTablet) {
            font-size: 44px;
//            margin-top: 35vh;
            padding: 15px 0; 
        }
        
        @media screen and (max-width: $bkpMobile) {
            font-size: 32px;
//            margin-top: 35vh;        
            padding: 10px 0; 
        }
        
    }
    
    &__ramka a {
        margin-top: 50px;
        margin-bottom: 20px;
        border: 2px solid white;
        font-size: 18px;
        padding: 20px 40px;
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-weight: 300;
        font-family: $textFont;
        
        @media screen and (max-width: $bkpTablet) {
            font-size: 14px;
            padding: 15px 30px;
        }
        
        @media screen and (max-width: $bkpMobile) {
            font-size: 12px;
            padding: 12px 24px;
        }
        
        &:hover {
            background-color: $brandcolor;
        }
    }
}

//******************** MENU **********************

.nav {
    padding: 20px 0;
    font-family: $headingFont;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.navbar a {
    font-family: $headingFont;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    
    @media screen and (max-width: $bkpTablet) {
        font-size: 10px;
        text-align: left;
    }
    
    &:hover {
        color: $brandcolor !important;
    }
} 

.navbar-header {
    
    
    @media screen and (max-width: $bkpMobile) {
        margin-bottom: 18px !important;
    }
}

.navbar-toggle {
    @media screen and (max-width: $bkpMobile) {
        margin-top: 25px !important;
    }
}

.focallogo1 {
    color: white;
    font-size: 30px;
}

.focallogo2 {
    color: $brandcolor;
    font-size: 30px;
}

.f-stylish {
    padding: 5px 14px;
    margin-right: 5px;
    font-size: 30px;
    color: white;
    background-color: grey;
}

.navbar-brand {
//    position: fixed;
//    top:10px;
  margin-top: 20px;  
}

.navbar-inverse {
    border-radius: 0 !important;
    border: none;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

//******************** VALUES **********************

h2 {
    font-family: $headingFont;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    color: #566366;
}

.values {
    font-family: $headingFont;
    font-weight: 400;
    font-size: 18px;
    color: $medgrey;
    margin-top: 100px;
    margin-bottom: 100px;
    
    @media screen and (max-width: $bkpTablet) {
        margin-top: 70px;
        font-size: 16px;
        margin-bottom: 70px;
    }
        
    @media screen and (max-width: $bkpMobile) {
        margin-top: 20px;
        font-size: 14px;
        margin-bottom: 15px;
     }
    
    &__description {
        margin-top: 50px;  
        
        @media screen and (max-width: $bkpTablet) {
            margin-top: 35px; 
        }
        
        @media screen and (max-width: $bkpMobile) {
            margin-top: 20px; 
        }
    }
    
}

//******************** ABOUT ME **********************

.aboutme {
    background-image: url(../img/aboutme_person.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #f2f2f1;
    
    @media (-webkit-min-device-pixel-ratio: $RetinaPxlRatio), (min-resolution: $RetinaMinDPI) {
        background-image: url(../img/aboutme_person_retina.jpg);
    }
    
    @media screen and (max-width: $bkpTablet) {
        background-image: none;      
    }
        
    @media screen and (max-width: $bkpMobile) {
        background-image: none;       
    }
    
    &__person {
        visibility: hidden;
        
        @media screen and (max-width: $bkpTablet) {
            visibility: visible;
            right: 0px;
            display: inline-block;
            vertical-align: text-top;     
        }
        
        @media screen and (max-width: $bkpMobile) {
            visibility: visible;
            right: 0px;
            display: inline-block;
            vertical-align: text-top;
            height: 100px;
        }
    }
    

   
    &__id {
        color: #566366;
        font-size: 30px;
        text-transform: uppercase;
        font-family: $headingFont;
        font-weight: 700;
    }
    
    &__content {
        background-color: #f2f2f1;
        padding-left: 120px;
        padding-top: 100px;
        padding-bottom: 100px;
        color: $medgrey; 
        font-size: 18px;
        
        
        @media screen and (max-width: $bkpTablet) {
//            position:fixed;
//            left: -72px;
            font-size: 16px;
            padding-left: 0px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        
        @media screen and (max-width: $bkpMobile) {
//            position:fixed;
//            left: -72px;
           // right: 20px;
            font-size: 14px;
            padding-left: 0px;
            padding-top: 20px;
            padding-bottom: 15px;
        }
    }
        
    &__description {
        padding-top: 50px;
        
        @media screen and (max-width: $bkpMobile) {
            padding-top: 20px;
            padding-bottom: 15px;
        }
    }
        p {
            padding-bottom: 50px;
            
        @media screen and (max-width: $bkpMobile) {
            padding-bottom: 15px;
            padding-top: 20px;
        }    
            
    }
    
    &__web {
        padding-left: 70px;
        background-image: url(../img/aboutme_icon1.png);
        background-position: left top;
        background-repeat: no-repeat;
        padding-bottom: 50px;
        
        @media (-webkit-min-device-pixel-ratio: $RetinaPxlRatio), (min-resolution: $RetinaMinDPI) {
            background-image: url(../img/aboutme_icon1_retina.png);
            background-size: 56px 45px;
        }
        
        @media screen and (max-width: $bkpTablet) {
            padding-bottom: 20px;
        } 
        
        @media screen and (max-width: $bkpMobile) {
            padding-bottom: 15px;
         }  
        
    }    
    
    &__graphic {
        padding-left: 70px;
        background-image: url(../img/aboutme_icon2.png);
        background-position: left top;
        background-repeat: no-repeat;
        padding-bottom: 50px;
        
        @media (-webkit-min-device-pixel-ratio: $RetinaPxlRatio), (min-resolution: $RetinaMinDPI) {
            background-image: url(../img/aboutme_icon2_retina.png);
            background-size: 56px 45px;
        }
        
        @media screen and (max-width: $bkpTablet) {
            padding-bottom: 20px;
        } 
        
        @media screen and (max-width: $bkpMobile) {
            padding-bottom: 15px;
        } 
    }
    
    &__online {
        padding-left: 70px;
        background-image: url(../img/aboutme_icon3.png);
        background-position: left top;
        background-repeat: no-repeat;
                
        @media (-webkit-min-device-pixel-ratio: $RetinaPxlRatio), (min-resolution: $RetinaMinDPI) {
            background-image: url(../img/aboutme_icon3_retina.png);
            background-size: 56px 45px;
        }
        
        @media screen and (max-width: $bkpTablet) {
            padding-bottom: 20px;
        } 
        
        @media screen and (max-width: $bkpMobile) {
            padding-bottom: 15px;
        }
    }
    
    &__seo {
        padding-left: 70px;
        background-image: url(../img/aboutme_icon4.png);
        background-position: left top;
        background-repeat: no-repeat;
        
        @media (-webkit-min-device-pixel-ratio: $RetinaPxlRatio), (min-resolution: $RetinaMinDPI) {
            background-image: url(../img/aboutme_icon4_retina.png);
            background-size: 56px 45px;
        }
        
        @media screen and (max-width: $bkpTablet) {
            padding-bottom: 0px;
        } 
        
        @media screen and (max-width: $bkpMobile) {
            padding-bottom: 0px;
        } 
    }
    
    &__inside {
        font-size: 22px;
        text-transform: uppercase;
        color: #566366;
        font-weight: 700;
        padding-bottom: 30px;
        
         @media screen and (max-width: $bkpMobile) {
            padding-bottom: 15px;
        }
    }
}


//************************* RESUME *************************

.resume {
    
    background-color: #f2f2f1;

    &__title {
        text-align: center;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    &__button {
        border-radius: 0;
        text-transform: uppercase;
        color: $brandcolor;
        border-color: $brandcolor;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 100px;
        background-color: #f2f2f1;
    }
    
    &__a {
        display: inline-block;
        padding: 20px 18px 20px 18px;
        color: $brandcolor;
        text-decoration: none;     
        
    }
    
    &__a:visited {
        color: $brandcolor;
        text-decoration: none;
    }
    
    &__a:hover {
        text-decoration: none;
        color: black;
    }   
    &__a:active {
        text-decoration: none;
        color: black;
    }
    
    &__description {
        font-family: $headingFont;
        font-weight: 400;
        font-size: 18px;
        color: $medgrey;
        padding-bottom: 50px;
        text-align: center;
        
        @media screen and (max-width: $bkpTablet) {
            padding-bottom: 80px;
        } 
        
        @media screen and (max-width: $bkpMobile) {
            padding-bottom: 80px;
        } 
        
    }
    
    &::after {
        background: url(../img/resume_dziubek.png);
        display: block;
        position: absolute;  
        width: 58px;
        height: 20px;
        content: "";
//        left: 47vw;
        left: 50%; 
        margin-left: - 29px;
    }
}

//************************* MY EDUCATION *************************

.education {
        &__inside {
        font-size: 22px;
        text-transform: uppercase;
        color: #566366;
        font-weight: 700;
        padding-bottom: 20px;
    }
        
    &__title {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    
    &__description1 {
        padding-bottom: 20px;  
        color: $medgrey;
        
        strong {
            font-weight: 700;
        }
    }
    
    &__description2 {
        font-family: $headingFont;
        font-weight: 400;
        font-size: 18px;
        color: $medgrey;
        margin-top: 35px;
        padding-top: 28px;
        border-top: solid 2px lightgrey;
        padding-bottom: 80px;
        }
}

.label-primary {
    background-color: $brandcolor;
    padding: 6px 9px;
    border-radius: 0;
}

//******************** WORK EXPERIENCE ********************

.workexp {
    &__linia {
        border-top: solid 2px lightgrey;
    }
}

//**************** TESTIMONIALS ****************

.testimon {
    
    background-color: #f2f2f1;

    &__description {
        font-family: $headingFont;
        font-weight: 400;
        font-size: 24px;
        color: $medgrey;
        padding-bottom: 50px;
        padding-top: 100px;
        text-align: center;
        font-style: italic;
    }   
    
    &__author {
        font-family: $headingFont;
        font-weight: 700;
        font-size: 18px;
        color: $medgrey;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 50px;
    }
    
    &__circles {
        padding-bottom: 100px;
        text-align: center;
    }
    
    &__circlefull {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        border: 2px solid $brandcolor;
        background: $brandcolor;
        display: inline-block;
            }
    
    &__circle {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        border: 2px solid $brandcolor;
        display: inline-block;
        
    }
}


//**************** Portfolio ****************

.portfolio  {
    padding-bottom: 100px;
    
    h2 {
        font-family: $headingFont;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 30px;
        color: #566366;
        padding-top: 100px;
        text-align: center;
    }
    
    &__description {
        font-family: $headingFont;
        font-weight: 400;
        font-size: 18px;
        color: $medgrey;
        padding-bottom: 50px;
        padding-top: 50px;  
        text-align: center;
    }
    
//    &__image {
////        max-height: 300px;
//        max-width: 55vh;
//        padding: 10px;
//        display: inline-block;
////        float: left;
        
//    }
    
    &__row {
//        text-align: center;
        padding-bottom: 25px;
    }
    
}

//**************** FOOTER ****************

footer {
    background-color: #191f21;
    padding-bottom: 50px;
}

.footer {
    
    &__copy {
        padding-top: 50px;
        font-family: $headingFont;
        font-weight: 700;
        font-size: 14px;
        color: #41494b;
        text-transform: uppercase;
        display: block;
        text-align: center;
    }
    
    &__circle {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        border: 2px solid #41494b;
        background: #41494b;
        display: inline-block;
        text-align: center;
        color: #191f21;
        
        &:hover {
        color: white;
        }
    }
    
    &__icons {
        color: #191f21;
        text-align: center;
        margin-top: 30px;
    }    
    
    &__icon {
        margin-top: 8px;
        display: inline-block;
        line-height: 100%;
    }
    
    
    
}