.education {
        &__inside {
        font-size: 22px;
        text-transform: $text-transform;
        color: #566366;
        font-weight: 700;
        padding-bottom: 20px;
    }
        
    &__title {
        @extend .values__h2;
        padding-bottom: 50px;
    }
    
    &__description1 {
//        padding-bottom: 20px;  
        color: $medgrey;
        
        strong {
            font-weight: 700;
        }
    }
    
    &__description2 {
        @resume__description;
        margin-top: 35px;
        padding-top: 28px;
        border-top: solid 2px lightgrey;
        padding-bottom: 80px;
        }
}

.label-primary {
    background-color: $brandcolor;
    padding: 6px 9px;
    border-radius: 0;
    display: inline-block;
    margin: 20px 0 0px;
}

.CIT {
    margin-top: 50px;
}
