.portfolio  {
    padding-bottom: 100px;
    
    h2 {
        font-family: $headingFont;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 30px;
        color: #566366;
        padding-top: 100px;
        text-align: center;
    }
    
    &__description {
        font-family: $headingFont;
        font-weight: 400;
        font-size: 18px;
        color: $medgrey;
        padding-bottom: 50px;
        padding-top: 50px;  
        text-align: center;
    }
    
    &__row {
        padding-bottom: 25px;
    }
    
}